/*CSS for tablets*/
@media only screen and (max-width: 1024px) {
	body {
		background-color: #F0F8FF;
		text-align: center;
	}

	#logo {
		width: 30%;
		text-align: center;
		padding-top: 5%;
	}

	.recovery {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 10px;
		width: 60%;
		background-color: white;
	}

	p {
		text-align: left;
	}

	.note {
		font-weight: bold;
	}

	.alert p {
		text-align: center !important;
	}

	label {
		font-weight: bold;
	}

	input {
		border-radius: 7px;
		border: 1px solid #002244;
		width: 75%;
	}

	input::placeholder {
	    text-align: center;
	}

	input:focus {
		outline: none;
		border: 3px solid #002244;
	}

	input[type="text"], input[type="password"] {
	  text-align: center;
	}

	.btn-div {
		margin-top: 1em;
	}

	.resend-btn {
		text-decoration: underline;
	}

	.btn-next, .btn-reset {
		background-color: #002244;
		border-radius: 10px;
		width: 50%;
		color: white;
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
		border: none;
	}

	.btn-back {
		background-color: #E31837;
		border-radius: 10px;
		width: 50%;
		color: white;
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
		border: none;
	}
}

/*CSS for mobile phones*/
@media only screen and (max-width: 480px) {
	body {
		background-color: #F0F8FF;
		text-align: center;
	}

	#logo {
		width: 50%;
		text-align: center;
		padding-top: 5%;
	}

	.recovery {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 10px;
		width: 85%;
		background-color: white;
		margin-top: 7%;
	}

	p {
		text-align: left;
	}

	.note {
		font-weight: bold;
	}

	.alert p {
		text-align: center !important;
	}

	label {
		font-weight: bold;
	}

	input {
		border-radius: 7px;
		border: 1px solid #002244;
		width: 75%;
	}

	input::placeholder {
	    text-align: center;
	}

	input:focus {
		outline: none;
		border: 3px solid #002244;
	}

	input[type="text"], input[type="password"] {
	  text-align: center;
	}

	.btn-div {
		margin-top: 1em;
	}

	.resend-btn {
		text-decoration: underline;
	}

	.btn-next, .btn-reset {
		background-color: #002244;
		border-radius: 10px;
		width: 70%;
		color: white;
		font-weight: bold;
		font-size: 15px;
		padding: 10px;
		border: none;
	}

	.btn-back {
		background-color: #E31837;
		border-radius: 10px;
		width: 70%;
		color: white;
		font-weight: bold;
		font-size: 15px;
		padding: 10px;
		border: none;
	}
}

/*CSS for laptops/desktops*/
@media only screen and (min-width: 1025px) {
	body {
		background-color: #F0F8FF;
		text-align: center;
	}

	#logo {
		width: 20%;
		text-align: center;
		padding-top: 2%;
	}

	.recovery {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 10px;
		width: 35%;
		background-color: white;
	}

	p {
		text-align: left;
	}

	.note {
		font-weight: bold;
	}

	.alert p {
		text-align: center !important;
	}

	label {
		font-weight: bold;
	}

	input {
		border-radius: 7px;
		border: 1px solid #002244;
		width: 75%;
	}

	input::placeholder {
	    text-align: center;
	}

	input:focus {
		outline: none;
		border: 3px solid #002244;
	}

	input[type="text"], input[type="password"] {
	  text-align: center;
	}

	.resend-btn:hover {
		border: 1px solid #002244;
	}

	.btn-next, .btn-reset {
		background-color: #002244;
		border-radius: 10px;
		width: 50%;
		color: white;
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
		border: none;
	}

	.btn-back {
		background-color: #E31837;
		border-radius: 10px;
		width: 50%;
		color: white;
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
		border: none;
	}
}



