<!DOCTYPE html>
<html>
<head>
	<title>Gradesitory | GPA Calculator</title>
	<link rel="shortcut icon" type="image/png" href="../static/img/logo.png">
	<link rel="stylesheet" href="../static/css/policy.css">
	<link rel="stylesheet" href="../static/css/landing.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/e7ff852a3e.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-212594011-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-212594011-1');
	</script>
</head>
<body onload="hideNav()">
	<div class="navbar">
		<div class="logo">
			<a href="/"><img src="../static/img/logo.png"></a>
		</div>
		<div class="navlinks">
			<a href="/grading_systems">Grading Systems</a>
			<a href="/contact">Contact</a>
			<a href="/register" class="btn-sign-up">Sign Up</a>
			<a href="/login" class="btn-sign-in">Sign In</a>
		</div>
	</div>
	<div class="navbar-mb">
		<div class="icon">
			<a href="/"><img src="../static/img/logo.png"></a>
		</div>
		<div class="bars">
			<i class="fas fa-bars" onclick="showNav()"></i>
		</div>
	</div>
	<div id="navlinks-mb">
		<div class="cross">
			<i class="fas fa-times" onclick="hideNav()"></i>
		</div>
		<div class="links">
			<a href="/grading_systems">Grading Systems</a>
			<a href="/contact">Contact</a>
			<div class="bottom">
				<a href="/register" style="border-radius: 10px; color: #002244 !important; font-weight: bold; border: 2px solid #002244; margin-bottom: 5%; margin-left: 5%; margin-right: 5%;">Sign Up</a>
				<a href="/login" style="background-color: #002244; border-radius: 10px; color: white !important; font-weight: bold; border: none; margin-bottom: 5%; margin-left: 5%; margin-right: 5%;">Sign In</a>
			</div>
		</div>
	</div>

	<div class="policy">
		<h1>GRADESITORY PRIVACY POLICY</h1>
		<p>
			This Privacy Policy describes how your personal information is collected, used and shared when you visit or subscribe to our digital product at <a href="/">https://www.gradesitory.com.</a> We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
		</p>
		<h3>DEFINITIONS</h3>
		<p>
			<b>Account</b> means a unique account created for You to access our Service or parts of our Service.<br>
			<b>Product</b> "We", "Us" or "Our" in this Agreement refers to Gradesitory.<br>
			<b>Personal Data</b> is any information that relates to an identified or identifiable individual.<br>
			<b>Service</b> refers to the Website.<br>
			<b>Website</b> refers to Gradesitory, accessible from <a href="/">https://www.gradesitory.com.</a><br>
			<b>You</b> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
		</p>
		<h3>PERSONAL INFORMATION WE COLLECT</h3>
		<p>
			When you sign up or attempt to sign up for our product through the Site, we collect certain information from you which includes your name, email address and payment information (card number, expiry dates and CVC).
			Additionally, when you add your educational course information in order to calculate your Grade Point Average, we store that data in our secured databases in order for it to be accessible to you whenever you log in to your account. This information includes the course name, course credits, and the course grade achieved.
		</p>
		<h3>HOW DO WE USE YOUR PERSONAL INFORMATION?</h3>
		<p>
			Your name and email address is used to communicate with you. Subscription confirmation/cancellation, future invoices, changing password/email of your account, any announcements and/or updates related to our service and customer service interactions are all done through email.
			Your course grades and credits are used as part of our Grade Point Average calculation algorithm.
			We may use your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our service/product, marketing, and your experience.
			Since our product consists of a recurring payment, your payment information is encrypted and stored in our secured databases to automatically charge the subscription fee at the beginning of the next cycle/period. We do not exactly store your payment information, instead we store the encrypted hash of your card details generated by a third-party payment infrastructure service. Hence, your card details are not accessible/readable by us.
			We share your Personal Information with third parties to enable us to process payments. We use Stripe to power our payment processing--you can read more about how Stripe uses your Personal Information here: https://www.stripe.com/gb/privacy.
			We do not sell or otherwise provide your personal information to other companies for the marketing of their own products and/or services.
			Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
		</p>
		<h3>DO NOT TRACK</h3>
		<p>
			Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser since they are mandatory for our service provision.
		</p>
		<h3>DATA RETENTION</h3>
		<p>
			When you subscribe to our service, we will maintain your Information for our records unless and until you ask us to delete this information.
		</p>
		<h3>SECURITY</h3>
		<p>
			The security of your personal data is important to us but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect Your personal data, We cannot guarantee its absolute security.
		</p>
		<h3>CHANGES</h3>
		<p>
			We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
		</p>
		<h3>CONTACT US</h3>
		<p>
			For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:admin@gradesitory.com.">admin@gradesitory.com.</a>
		</p>
		<h3>REFERENCES</h3>
		<p>
			This Privacy Policy is generated with the help of Shopify and TermsFeed Privacy Policy Generator.
		</p>

	</div>

	<div class="footer">
		<p>Copyright <i class="far fa-copyright"></i> 2021 Gradesitory. All rights reserved | <a href="/terms_of_service">Terms of Service</a> | <a href="/privacy_policy">Privacy Policy</a></p>
	</div>

	<script type="text/javascript">
		function showNav() {
			document.getElementById("navlinks-mb").style.display = "block";
		}

		function hideNav() {
			document.getElementById("navlinks-mb").style.display = "none";
		}
	</script>
</body>
</html>